.cards{
 display: flex;   
 flex-wrap: wrap;
 justify-content: center;
 align-items: center;
 border: solid black;
}
.title{
    text-align: center;
    font-size: 44px;
}
.card{
    height: 200px;
    width: 130px;
    margin-left: 10px;
    margin-top: 10px;
    border-width: 3px;
    border-radius: 10px;
    border: solid black;
    background-color: rgba(40, 160, 136, 0.801);
}
.card.selected img, .card.flipped img{
    opacity: 1;
}

img{
    height: 150px;
    width: 130px;
    display: flex;
    border-radius: 80px;
    justify-content: center;
    /*opacity: 0;*/
}
.card img{
    opacity: 0;
}
.card.selected {
    background-color: rgb(135, 87, 156);
    
}
.p1, .p2{
    font-weight: 600;
}
.card.flipped{
    background-color: white;
}
